*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background : url(Pics/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#controls > button{
    filter: invert(100%);
}

.title{
    color: white;
    font-weight: 600;
    font-size: 4vmin;
}

.cont{
    width: 100%;
    display: flex;
}

.header{
    display: flex;
}

#controls{
    display:flex;
    justify-content: space-around;
    width: 33%;    
}

button{
    cursor: pointer;
    background-color: transparent;
    width: 5vmin;
    height: 5vmin;
    background-size: 100%;
    border: none;
}

.col1{
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 4vmin;
    align-items:center;
    justify-content: center;
}

.col2{
    /* border: 1px solid black; */
    display: flex;
    font-size: 4vmin;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin: auto;
}
    
/* #timer{
    margin-bottom: 5vmin;
    font-size: 5vmin;
    font-weight: 600;
} */

.play{
    background-image: url(Pics/play.png)
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;  
}

span{
    display : block;
    font-weight: 700;
}

#gbox1{
    padding: 0;
    height: 70vmin;
    width: 70vmin;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(223, 223, 223);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#gbox2{
    padding: 0;
    height: 70vmin;
    width: 70vmin;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(223, 223, 223);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tile{
    box-sizing: border-box;
}

.even{
    background-color: rgb(223, 223, 223);
}

.odd{
    background-color: rgb(187, 187, 187);
}

.head{
    background-image: url(Pics/unnamed.png);
    background-size: 100%;
}

.food{
    background-color: white;
    font-weight:900;
    font-size: 100%;
    border: 0.5px solid black;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tail{
    background-color: rgb(92, 224, 75);
    border-radius: 50%;
}

.faceRight{
    transform: rotate(270deg);

}
.faceBottom{
    transform: rotate(0deg);
}

.faceLeft{
    transform: rotate(90deg);
}

.faceTop{
    transform: rotate(180deg);
}

.orange{
    background-color: orange;
}

.cyan{
    background-color: cyan;
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.brown{
    background-color: brown;
}

.violet{
    background-color: violet;
}

#target1{
    display: flex;
    justify-content: center;
    width: 100%;
}
#gameover_dialog{
    padding: 50px 50px;
    margin: auto;
    border-radius: 10px;
    background-color:  #203451;
    height: max-content;
    position: absolute;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}


#target2{
    display: flex;
    justify-content: center;
    width: 100%;
}


.unEaten1{
    display: flex;
    padding: 0px 5px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 5vmin;
    font-weight: 600;
}
#init_dialog{
    padding: 50px 50px;
    margin: auto;
    border-radius: 10px;
    background-color:  #203451;
    height: max-content;
    position: absolute;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.box{
    display: flex;
}

#pause_dialog{
    padding: 50px 50px;
    margin: auto;
    border-radius: 10px;
    background-color:  #203451;
    height: max-content;
    position: absolute;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.init{
    display: flex;
    flex-direction: column;
}

#play{
    filter: invert(0%);
    height: max-content;
    margin-bottom: 5px;
    font-size: larger;
    background-color: rgb(0, 190, 0);
    padding: 5px 0px;
    border-radius: 5px;
    width: 100%;
}

.home{
    filter: invert(0%);
    height: max-content;
    margin-bottom: 25px;
    width: 100%;
    font-size: larger;
    background-color: rgb(0, 190, 0);
    padding: 5px 0px;
    border-radius: 5px;
}

.retry{
    filter: invert(0%);
    height: max-content;
    margin-bottom: 25px;
    width: 100%;
    font-size: larger;
    background-color: rgb(226, 85, 85);
    padding: 5px 0px;
    border-radius: 5px;
}

#resume{
    filter: invert(0%);
    width: 100%;
    height: max-content;
    margin-bottom: 25px;
    font-size: larger;
    background-color:rgb(241, 241, 234);
    padding: 5px 0px;
    border-radius: 5px;
}

#go{
    color: White;
    font-size: larger;
    font-weight: 600;
    margin-bottom: 10px;
}

#result{
    color: White;
    font-size: larger;
    font-weight: 600;
    margin-bottom: 50px;

}

#name1,#name2,#bsize_input{
    margin-bottom: 10px;
    padding: 10px;
}

#bsize_input{
    margin-bottom: 40px;
}

.Eaten1{
    display: flex;
    padding: 0px 5px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 103, 160);
    color: rgb(255, 47, 47);
    font-size: 5vmin;
    font-weight: 600;
}

.unEaten2{
    display: flex;
    padding: 0px 5px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 5vmin;
    font-weight: 600;
}

.Eaten2{
    display: flex;
    padding: 0px 5px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 103, 160);
    color: rgb(255, 47, 47);
    font-size: 5vmin;
    font-weight: 600;
}

.buff{
   background: url('Pics/tortoise.png');
   background-color: transparent;
   background-size: 100%;
   border: 2px solid black;
   box-sizing: border-box;
}

.lightbuff{
    background: url('Pics/lightning.png');
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
    box-sizing: border-box;
    /* background-size: 100%; */
 }

 .heartbuff{
    font-size: 70%;
    display:  flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    box-sizing: border-box;
    /* background-size: 100%; */
 }

 .obstacle{
    background-color: brown;
    border-radius: 50%;
 }

.portal{
    background-color: black;
}

#score1,#score2{
    color: white;
}

.box{
    color: white;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content:space-around;
}

#pname1,#pname2{
    width: 100%;
    font-size: 30px;
    font-weight: 500;
}
#default{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#alternate{
    display: none;
}

@media (max-width:1080px){
    #default{
        display: none;
    }
    #alternate{
        display: block;
        color: white;
        font-size: larger;
        font-weight: 600;
    }
}
